version: "3.8"

services:
  configdb-server:
    image: mongo:7.0
    container_name: configdb-server
    command: ["mongod", "--configsvr", "--replSet", "cfgReplSet", "--port", "27017", "--bind_ip_all"]
    ports:
      - "27017:27017"
    volumes:
      - configdb:/data/db

  shard-alpha:
    image: mongo:7.0
    container_name: shard-alpha
    command: ["mongod", "--shardsvr", "--replSet", "shardAlphaRepl", "--port", "27018", "--bind_ip_all"]
    ports:
      - "27018:27018"
    volumes:
      - shardalpha:/data/db

  shard-beta:
    image: mongo:7.0
    container_name: shard-beta
    command: ["mongod", "--shardsvr", "--replSet", "shardBetaRepl", "--port", "27019", "--bind_ip_all"]
    ports:
      - "27019:27019"
    volumes:
      - shardbeta:/data/db

  mongos-router-1:
    image: mongo:7.0
    container_name: mongos-router-1
    depends_on:
      - configdb-server
      - shard-alpha
      - shard-beta
    command: ["mongos", "--configdb", "cfgReplSet/configdb-server:27017", "--bind_ip_all", "--port", "27020"]
    ports:
      - "27020:27020"

volumes:
  configdb:
  shardalpha:
  shardbeta:
