version: "3.8"

services:
  configdb:
    image: mongo:7.0
    container_name: configdb-server
    command: --configsvr --replSet cfgReplSet --port 27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - 27017:27017
    volumes:
      - configdb-data:/data/db

  shard_alpha:
    image: mongo:7.0
    container_name: shard-alpha
    command: --shardsvr --replSet shardAlphaRepl --port 27018
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - 27018:27018
    volumes:
      - shard-alpha-data:/data/db

  shard_beta:
    image: mongo:7.0
    container_name: shard-beta
    command: --shardsvr --replSet shardBetaRepl --port 27019
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - 27019:27019
    volumes:
      - shard-beta-data:/data/db

  mongos_router:
    image: mongo:7.0
    container_name: mongos-router-1
    depends_on:
      - configdb
      - shard_alpha
      - shard_beta
    command: >
      mongos --configdb cfgReplSet/configdb-server:27017 --bind_ip_all --port 27020
    ports:
      - 27020:27020
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123

volumes:
  configdb-data:
  shard-alpha-data:
  shard-beta-data:
